/* Help.css */
.help {
  background: #e0e5ec;
  box-shadow: 5px 5px 15px #a3b1c6, -5px -5px 15px #ffffff;
  border-radius: 20px;
  padding: 20px;
}

.help h1 {
  color: #333;
}

.help p {
  color: #555;
}

