.keyword-suggestions {
  background: #e0e5ec;
  box-shadow: 5px 5px 15px #a3b1c6, -5px -5px 15px #ffffff;
  border-radius: 20px;
  padding: 30px;
  margin: 20px;
  box-sizing: border-box;
}

/* Dark Mode Specific KeywordSuggestions */
.dark-mode .keyword-suggestions {
  background: #333;
  box-shadow: 5px 5px 15px #222, -5px -5px 15px #444;
}

/* Heading */
.keyword-suggestions h1 {
  color: #333;
}

/* Dark Mode Specific KeywordSuggestions Heading */
.dark-mode .keyword-suggestions h1 {
  color: #e0e5ec;
}

/* Paragraph text */
.keyword-suggestions p {
  color: #555;
}

/* Dark Mode Specific KeywordSuggestions Paragraph */
.dark-mode .keyword-suggestions p {
  color: #e0e5ec;
}



