.template-library {
  background: #e0e5ec;
  box-shadow: 5px 5px 15px #a3b1c6, -5px -5px 15px #ffffff;
  border-radius: 20px;
  padding: 30px;
  margin: 20px;
  box-sizing: border-box;
}

/* Dark Mode Specific TemplateLibrary */
.dark-mode .template-library {
  background: #333;
  box-shadow: 5px 5px 15px #222, -5px -5px 15px #444;
}

/* Heading */
.template-library h1 {
  color: #333;
}

/* Dark Mode Specific TemplateLibrary Heading */
.dark-mode .template-library h1 {
  color: #e0e5ec;
}

/* Paragraph text */
.template-library p {
  color: #555;
}

/* Dark Mode Specific TemplateLibrary Paragraph */
.dark-mode .template-library p {
  color: #e0e5ec;
}



