.analytics-dashboard {
  background: #e0e5ec;
  box-shadow: 5px 5px 15px #a3b1c6, -5px -5px 15px #ffffff;
  border-radius: 20px;
  padding: 30px;
  margin: 20px;
  box-sizing: border-box;
}

/* Dark Mode Specific AnalyticsDashboard */
.dark-mode .analytics-dashboard {
  background: #333;
  box-shadow: 5px 5px 15px #222, -5px -5px 15px #444;
}

/* Heading */
.analytics-dashboard h1 {
  color: #333;
}

/* Dark Mode Specific AnalyticsDashboard Heading */
.dark-mode .analytics-dashboard h1 {
  color: #e0e5ec;
}

/* Paragraph text */
.analytics-dashboard p {
  color: #555;
}

/* Dark Mode Specific AnalyticsDashboard Paragraph */
.dark-mode .analytics-dashboard p {
  color: #e0e5ec;
}



