.notification-settings {
  background: #e0e5ec;
  box-shadow: 5px 5px 15px #a3b1c6, -5px -5px 15px #ffffff;
  border-radius: 20px;
  padding: 30px;
  margin: 20px;
  box-sizing: border-box;
}

/* Dark Mode Specific NotificationSettings */
.dark-mode .notification-settings {
  background: #333;
  box-shadow: 5px 5px 15px #222, -5px -5px 15px #444;
}

/* Heading */
.notification-settings h1 {
  color: #333;
}

/* Dark Mode Specific NotificationSettings Heading */
.dark-mode .notification-settings h1 {
  color: #e0e5ec;
}

/* Paragraph text */
.notification-settings p {
  color: #555;
}

/* Dark Mode Specific NotificationSettings Paragraph */
.dark-mode .notification-settings p {
  color: #e0e5ec;
}



