.sidebar {
  width: 250px;
  background: #e0e5ec;
  box-shadow: 5px 5px 15px #a3b1c6, -5px -5px 15px #ffffff;
  border-radius: 20px;
  padding: 20px;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box; /* Include padding in width calculation */
}

/* Dark Mode Specific Sidebar */
.dark-mode .sidebar {
  background: #333;
  box-shadow: 5px 5px 15px #222, -5px -5px 15px #444;
}

/* Heading in the sidebar */
.sidebar h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

/* Dark Mode Specific Sidebar Heading */
.dark-mode .sidebar h2 {
  color: #e0e5ec;
}

/* List in the sidebar */
.sidebar ul {
  list-style: none;
  padding: 0;
}

/* List items */
.sidebar li {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s, box-shadow 0.3s;
  background: #e0e5ec;
  box-shadow: inset 5px 5px 15px #a3b1c6, inset -5px -5px 15px #ffffff;
}

/* Dark Mode Specific Sidebar List Items */
.dark-mode .sidebar li {
  background: #444;
  box-shadow: inset 5px 5px 15px #222, inset -5px -5px 15px #444;
}

/* List item hover state */
.sidebar li:hover {
  background: #dcdfe4;
  box-shadow: inset 5px 5px 15px #a3b1c6, inset -5px -5px 15px #ffffff;
}

/* Dark Mode Specific Sidebar List Item Hover State */
.dark-mode .sidebar li:hover {
  background: #555;
  box-shadow: inset 5px 5px 15px #222, inset -5px -5px 15px #444;
}





  