.ai-settings {
  background: #e0e5ec;
  box-shadow: 5px 5px 15px #a3b1c6, -5px -5px 15px #ffffff;
  border-radius: 20px;
  padding: 30px;
  margin: 20px;
  box-sizing: border-box;
}

/* Dark Mode Specific AISettings */
.dark-mode .ai-settings {
  background: #333;
  box-shadow: 5px 5px 15px #222, -5px -5px 15px #444;
}

/* Heading */
.ai-settings h1 {
  color: #333;
}

/* Dark Mode Specific AISettings Heading */
.dark-mode .ai-settings h1 {
  color: #e0e5ec;
}

/* Paragraph text */
.ai-settings p {
  color: #555;
}

/* Dark Mode Specific AISettings Paragraph */
.dark-mode .ai-settings p {
  color: #e0e5ec;
}



