.workflow-editor {
  background: #e0e5ec;
  box-shadow: 5px 5px 15px #a3b1c6, -5px -5px 15px #ffffff;
  border-radius: 20px;
  padding: 30px;
  margin: 20px;
  box-sizing: border-box;
}

/* Dark Mode Specific WorkflowEditor */
.dark-mode .workflow-editor {
  background: #333;
  box-shadow: 5px 5px 15px #222, -5px -5px 15px #444;
}

/* Heading */
.workflow-editor h1 {
  color: #333;
}

/* Dark Mode Specific WorkflowEditor Heading */
.dark-mode .workflow-editor h1 {
  color: #e0e5ec;
}

/* Paragraph text */
.workflow-editor p {
  color: #555;
}

/* Dark Mode Specific WorkflowEditor Paragraph */
.dark-mode .workflow-editor p {
  color: #e0e5ec;
}



